<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- BootStrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/navStyle.css"/>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 sidebar">
            <!-- Sidebar content goes here -->
            <ul class="nav flex-column">
                <li class ="nav-item">
                    <h2 class="nav-header" >Menu</h2>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/courses/course13.html">Back to your dashboerd</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <h1>week 1 </h1>
            <div class="cardBody">
                <div class="card assignmentCard" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Homework 1</h5>
                        <a href="/courses/Homework1week113.html" class="card-link">view asignment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>